    <h1>Hello {{title}}</h1>   


<div class="panel panel-primary">
    <div class= "panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                user input
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="text"
                    [(ngModel)]="userText"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4> Number of product search on basis of {{userText}} </h4>
                </div>

            </div>
        </div>
        <div class="panel-responsive">
            <table class="table" *ngIf="showTable">
                <thead>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-success"
                            (click)="toggleImage()">
                            {{ShowImage ? 'Hide Image':'Show Image'}}</button>
                        </td>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products | search:userText">
                        <td><img [src]="prod.imageUrl"
                            [style.width.px]="imageWidth"
                            *ngIf="showImage"></td>
                        <td>{{prod.productName | mypipe}}</td>
                        <td style= "color:teal">{{prod.productCode | mypipe:'lower'}}</td>
                        <td>{{prod.releaseDate | date:'MM/dd/yyyy'}}</td>
                        <td>{{prod.price | discount:4 | currency:'GBP' }}</td>
                        <td>{{prod.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>